@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

::selection {
  background-color: $selection-color;
}

* {
  box-sizing: border-box;
  color: $color-text;
  transition: $main-transition;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: $primary-font;
  color: $color-text;
  line-height: 1.5rem;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover,
  &:active {
    color: $primary-color;
  }
}

ul {
  list-style: none;
}

section {
  padding: $section-padding;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: .8rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
}

// Titles

.title {
  h3 {
    text-transform: uppercase;
    font-size: 1.6rem;
  }

  .separator {
    width: 3rem;
    height: .2rem;
    background-color: $primary-color;
    margin: 1rem 0 3rem;
  }
}

/* Bootstrap navbar override styles */
@media screen and (min-width:992px) {
  .navbar-nav .nav-link {
    color: $light-text  !important;

  }

  .nav-item {
    margin: 0 .6rem;
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 700;
  }

  .nav-item a {
    padding: .7rem 0;
  }

  li.nav-item a.nav-link.active {
    background-color: $primary-color;
    background-image: url('/assets/arrow_menu.png');
    background-repeat: no-repeat;
    background-position: 50% 100%;
  }
}

/* Bootstrap slider override styles */
.carousel-caption {
  text-align: left;
  top: 0;
  width: 40%;

  h5,
  p {
    color: $light-text;
  }

  h5 {
    font-size: 3rem;
    font-weight: 700;
  }

  p {
    font-size: 1.1rem;
  }
}

.carousel-indicators button {
  width: .7rem !important;
  height: .7rem !important;
  border-radius: 50%;

  &.active {
    width: .8rem !important;
    height: .8rem !important;
    background-color: $primary-color  !important;
  }
}

/* Bootstrap buttons override styles */
.btn {
  border-radius: .15rem;
}

.btn-primary {
  background-color: $dark-bg;
  border-color: $dark-bg;

  &:hover {
    background-color: $primary-color;
    border-color: $primary-color;
  }

  &:disabled {
    background-color: $medium-light-bg;
    color: $color-text;
    border-color: $border-color;
  }
}