.title
    .container
        .row
            .col-12.d-flex.flex-column.justify-content-center.align-items-center.text-center
                h3 Nuestros 
                    b equipos
                .separator
.equipment-grid#equipmentGrid
    