- const siteName = 'Nidansur S.A | Maquinaria vial y transportes'
- const titleDescription = 'Nidansur SA, Servicio de Maquinaria vial y transportes en general, Sarandí Grande, Florida, Uruguay.'
- const topHeaderInfo = 'Lavalleja y Aristegui - Sarandí Grande, Florida - Uruguay'
- const currentYear = new Date().getFullYear()
- const headerServices = [{ title: 'Transporte profesional de cargas', description: 'Una completa flota a su servicio' }, { title: 'Servicio de maquinaria vial', description: 'Trabajos en ciudad y campaña' }, { title: 'Venta de balasto', description: 'Canteras en Sarandí Grande' }]
- const menu = [{title: 'Inicio', link: 'index.html'}, {title: 'Nuestra empresa', link: 'nuestra-empresa.html'}, {title: 'Servicios', link: 'servicios.html'}, {title: 'Equipamiento', link: 'equipamiento.html'}, {title: 'Contacto', link: 'contacto.html'}]
- const mainPhone = {phone: '099 350 967', link: 'tel:+59899350967'}