- const siteName = 'Nidansur S.A | Maquinaria vial y transportes'
- const titleDescription = 'Nidansur SA, Servicio de Maquinaria vial y transportes en general, Sarandí Grande, Florida, Uruguay.'
- const topHeaderInfo = 'Lavalleja y Aristegui - Sarandí Grande, Florida - Uruguay'
- const currentYear = new Date().getFullYear()